body {
    font-size: 16px; /* Define explicitamente o tamanho da fonte */   
}

#menu-principal li{
display:inline
}
#menu-principal a{
    display: block;
    float: left;
    font-size: 18px;
    color: black;
    text-decoration-style: none;
    margin-left: 32px;
}
#menu-principal {
    position: absolute;
    top: 16px;
    right: 32px;
}
#foto-principal {
    height: 200px;
    background: url(../imagens/foto_principal.jpg) no-repeat center top;
}

#foto-principal2 {
    height: 200px;
    background: url(/imagens/foto_principal.jpg) no-repeat center top;
}

#conteudo {
    max-width: 60em; /* 1em=16px  60*16 = 960 */
    min-width: 37.5em; /* 37.5*16 = 600 */
    margin: 0 auto;
}

fieldset{
    border: 0;
}

#cabecalho {
    max-width: 60em; /* 1em=16px  60*16 = 960 */
    min-width: 37.5em; /* 37.5*16 = 600 */
    margin: 0 auto;
    position: relative; /* coloquei para o menu-principal vir para a esquerda */

    font-family: "Segoe UI";
    font-weight: lighter;
}
/* https://www.w3schools.com/css/css_link.asp */
#menu-principal a:hover {
    color: blue;
}

#menu-principal a.ativo {
    color: blue;
    font-weight: bold;
}

#menu-principal a:link {
    text-decoration: none;
}

#conteudo-principal {
    float: left;
    width: 64.583333333% /* 620 de 900 */
}

#conteudo-secundario {
    float: right;
    width: 29.166666666% /* 280 de 900 */
}

#conteudo {
    max-width: 60em; /* 1em=16px  60*16 = 960 */
    min-width: 37.5em; /* 37.5*16 = 600 */
    margin: 0 auto;
}

#conteudo-principal h1 {
    font-size: 2.25em; /* 2.25*16 = 36 */
}

p {
    font-size: 1em;
    margin-bottom: 1.5em;
}

#conteudo-secundario h1 {
    font-size: 1.5em; /* 1.5*16 = 24 */ 
}
#conteudo-secundario p {
    font-size: 0.875; /* 0.875*16 = 14 */ 
}

#conteudo-secundario a {
    font-size: 18px;
    color: white;  
}

#conteudo-secundario {
    background-color: #0f599f;
    padding: 10px;
    margin-top: 50px;
    color: white;
}

#conteudo-secundario-img {
    float: left;
    background-color: #ccc;
    width: 100%;
    max-width: 60em; 
    min-width: 80.5em; 
    max-height: 60em; 
    text-align : center;
}


#rodape {
    clear: both;
}

#contato {
    float: left;
    font-size: 16px;
    color: #000;
    margin: 12px 12px;
}

#endereco {
    float: right;
    text-align: right;
    color: #000;
    font-size: 14px;
    margin: 12px 12px;
}

#copyright {
    clear: both;
    font-size: 11px;
    color: #000;
    display: block;
    margin: 12px 0px;
    padding: 1em;
}

footer {
    max-width: 60em; /* 1em=16px  60*16 = 960 */
    min-width: 37.5em; /* 37.5*16 = 600 */
    margin: 0 auto;
    background-color: #ccc;
}

.tabela-servicos {
    border-spacing: 0;
    width: 100%;
}
.tabela-servicos caption {
font-size: 24px;
margin-bottom: 0.5em;
text-align: left;
}
.tabela-servicos th {
background: #0F599F;
color: #FFF;
font-weight: normal;
text-align: center;
}
.tabela-servicos th, .tabela-servicos td {
border-bottom: 1px solid #CCC;
font-size: 14px;
padding: 0.3em;
}
.tabela-servicos .prazo-entrega {
text-align: center;
}
.tabela-servicos .valor-servico {
text-align: right;
}
.depoimento .autor {
text-align: right;
font-size: 12px;
}
.campo {
    margin-bottom: 0.75em;
}
 
.campo label {
    display: block;
    font-size: 1em;
    margin-bottom: 0.1em;
}
 
.campo abbr {
    color: #C00;
    font-weight: bold;
}
 
.campo input, .campo textarea, .campo select {
    width: 100%;
    border: 1px solid #CCC;
    font-size: 1em;
    padding: 0.1em 0;
}
 
.campo textarea {
    height: 10em;
}
 
label.checkbox {
    display: inline-block;
    margin-right: 1em;
}
 
label.checkbox input {
    display: inline;
    vertical-align: baseline;
    width: auto;
}
 
.submit {
    font-size: 1em;
    background: #0F599F;
    font-weight: bold;
    color: #FFF;
    border: 0;
    padding: 0.5em 1em;
    margin-top: 1em;
}
 
.submit:hover {
    background: #F90;
}
 
fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}
 
.campo.telefone {
    width: 30%;
}
 
.campo.email {
    width: 100%;
    size: 300px;
}
 
.campo.nome, .campo.empresa {
    width: 48%;
}
 
fieldset.grupo .campo.empresa {
    margin-right: 0;
    float: right;
}
 
label, select, .submit {
    cursor: pointer;
}

.legenda {
    margin: 0;
    color: #FFF;
    background: #808080;
    font-style: italic;
    text-align: center;
    padding: 0.3em 0.6em;
}
#conteudo_secundario2 {
    float: right;
    width: 29.1666666666%;
    * {
        margin:0;
        padding:0;
    }
}
#conteudo_secundario2 img{
    display:block;
    border:0;

}
#conteudo_secundario2 figure{
    margin-top: 50px;
}
#conteudo-secundario3{
    font-style: italic;
    margin-left: 50px;
    float: left;
    width: 270px;
    color: #808080;

}
.campo.asidetext{
    font-style: italic;
    font-weight: bold;
    margin-left: 50px;
    text-align: right;
    float: left;
    width: 270px;
    color: #808080;

}